/* Estilo presente nos dois rquivos html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 0;
}

header {
    padding-top: 2%;
    background-color: #000000;
    color: #53169f;
    text-align: center;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    font-size: 30px;
    padding: 2%;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #53169f;
    text-decoration: none;
}

main {
    padding: 20px;
    height: auto;
    display: flex;

}

.conteudo {
    margin-bottom: -68px;
    margin-top: -90px;
}

.nome_title {
    color: #53169f;
    margin-top: 30px;
    margin-bottom: 5px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    display: flex;
    /* Adicionado para criar um layout flexível */
    justify-content: center;
    /* Alinha os itens ao centro */
}

footer a {
    display: inline-block;
    text-align: center;
    /* Faz com que os elementos <a> se comportem como blocos */
    margin: 0 10px;
    /* Espaçamento entre os elementos */
    text-decoration: none;
    color: #fff;
}

footer a img {
    text-align: center;
    width: 30px;
    /* Tamanho das imagens */
    height: 30px;
}

footer a p {
    text-align: center;
    margin: 5px 0 0;
    /* Espaçamento entre a imagem e o texto */
    font-size: 14px;
    /* Tamanho da fonte do texto */
}

/* Estilo Projetos */

.img_mario {
    margin-left: 200px;
    width: 600px;
}

.foguete_gif {
    margin-bottom: 190px;
}

.img_pokemon {
    width: 500px;
    max-width: 100%;
}

.pokemon_game_over {
    width: 502px;
    max-width: 100%;
}

.game_pokemon {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.project_calc {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.img_calc_imc {
    margin-left: 500px;
    width: 800px;
    margin: 15px;
    margin-bottom: 50px;
}

#monster_azul {
    margin-top: 270px;
    width: 150px;
    height: 50%;
}

/* Estilo Página Inicial */

#img_perfil {
    margin-top: 2%;
    position: relative;
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 200px;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 100px;
}

ul li {
    margin-bottom: 10px;
}

.conteiner_cursos {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
}

#monster_roxo {
    margin-right: 20px;
    margin-top: 30px;
    width: 100%;
    max-width: 80px;
    height: 50%;
    animation: moveUp 2s infinite alternate;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100px);
        /* Mova a imagem 100 pixels para cima */
    }
}

/* Estilos para dispositivos com largura de tela menor que 600 pixels (móveis) */
@media screen and (max-width: 600px) {

    /* Estilo presente nos dois rquivos html */

    * {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .conteudo {
        width: 100%;
        margin-bottom: -68px;
        margin-top: -90px;
    }

    footer {
        margin-top: 0%;
    }

    header {
        width: 100%;
        color: #0d9ca3;
    }

    nav,
    nav a,
    #link,
    h1,
    h2,
    h3,
    .nome_title {
        color: #0d9ca3;
    }

    /* Estilo Projetos */

    #monster_azul {
        margin-bottom: 20px;
        margin-left: 35%;
        margin-top: -20px;
        width: 30%;
        max-width: none;
    }

    .game_mario {
        display: flex;
        justify-content: space-around;
        width: 90%;
        max-width: 100%;
        height: auto;
    }

    .img_mario {
        padding-left: 5%;
        margin-left: 10%;
        max-width: 100%;
        height: auto;
    }


    .foguete_git {
        margin-left: -3%;
        margin-top: 20%;
        width: 25%;
        height: 20%;
        max-width: 100%;
    }

    .img_pokemon,
    .pokemon_game_over {
        max-width: 100%;
        height: auto;
    }

    .game_pokemon {
        display: block;
    }

    .project_calc {
        display: block;
    }

    .img_calc_imc {
        margin-left: -1%;
        max-width: 100%;
        height: auto;
    }

    /* Estilo Página Inicial */

    .conteiner_cursos {
        margin-top: 10px;
    }

    .container-decricao {
        margin-top: 10px;
    }


    #monster_roxo {
        width: 30%;
        max-width: none;
        height: 50%;
    }
}