/* ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

a{
    color: #fff;
}

body {
    margin-top: 10%;
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: auto;
}


.flex {
    display: flex;
}

h2.titulos {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

h2.titulos span {
    color: #792071;
    font-size: 40px;
}

section:target::before {
    content: '';
    display: block;
    height: auto;
    margin-top: 90px;
    visibility: hidden;
}

/*ESTILO CABEÇALHO*/
header {
    padding: 2px 2%;
    background-color: #792071;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(224, 230, 230);
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    transition: 2s;
}

header a:hover {
    color: #a31e98;
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato-cabecalho button {
    color: rgb(224, 230, 230);
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 700;
    background-color: #db55d0;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}



.btn-contato-cabecalho button:hover {
    box-shadow: 0px 0px 8px #792071;
    transform: scale(1.05);
}

#img-logo_am {
    margin: 0;
    width: 90px;
    border: 0;
    border-radius: 90px;
}

/*ESTILO DO TIPO DO SITE*/

section#topo-site {
    padding: 40px 4%;
}

section#topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

#topo-site .txt-topo-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

#topo-site .txt-topo-site h1 span {
    color: #792071;
    font-size: 60px;
}

#topo-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0px;
}

.btn-contato button {
    color: rgb(224, 230, 230);
    padding: 20px 4%;
    font-size: 16px;
    font-weight: 700;
    background-color: #db55d0;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
} 

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #792071;
    transform: scale(1.05);
}

#img-perfil {
    width: 300px;
    border: 0;
    border-radius: 90px;
}

/*ESTILO HABILIDADES*/
section#habilidades {
    padding: 20px 3%;
}

section#habilidades .flex {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cria 5 colunas de tamanho igual */
    gap: 20px; /* Espaçamento entre os itens */
}

#habilidades .habilidades-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    transition: .2s;
}

#habilidades .habilidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #a31e98a6;
}

#habilidades .habilidades-box .icons {
    width: 90px;
    margin-bottom: 10px;
}

#habilidades .habilidades-box h3 {
    margin: 0;
    text-align: center;
}

/*ESTILO DO SOBRE*/
section#sobre {
    padding: 40px 4%;
}

section#sobre .flex {
    align-items: center;
    gap: 60px;
}

#sobre .txt-sobre {
    color: #fff;
}

#sobre .txt-sobre h2 span {
    color: #792071;
    display: block;
}

#sobre .txt-sobre p {
    padding: 5px 5%;
    margin: 20px 0;
    text-align: justify;
}

#sobre .txt-sobre .btn-social button {
    margin-left: 5%;
    width: 80px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-size: 16px;
}

.social-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: Arial, sans-serif;
}

.img-sobre_mim {
    width: 100%;
    border-radius: 100px;
}

/* Estilo portifolio */
section#portifolio {
    padding: 40px 4%;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.projetos-port {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projetos-port img {
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.projetos-port p {
    color: #fff;
}

.projetos-port h2 {
    color: #792071;
    margin: 10px 0;
    font-size: 37px;
}


/*FOOTER*/
footer {
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: #792071;
    text-align: center;

}

.text-footer p {
    color: #fff;
}